<ng-container matColumnDef>
  <mat-header-cell *matHeaderCellDef>
    <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection?.hasValue() && isAllSelected()"
                  [indeterminate]="selection?.hasValue() && !isAllSelected()">
    </mat-checkbox>
  </mat-header-cell>
  <mat-cell *matCellDef="let row">
    <mat-checkbox (click)="$event.stopPropagation()"
                  (change)="$event ? selection?.toggle(row) : null"
                  [checked]="selection?.isSelected(row)">
    </mat-checkbox>
  </mat-cell>
</ng-container>
